@charset "utf-8";

.logo{
    display: flex;
    justify-content:space-between;
}
.logo>a{
    font-size: 30px;
    color: powderblue;
    font-weight: bolder;
}
.logo>a>span{
    color: teal;
}
.logo>button{
    display: block;
    border: none;
    background: none;
    opacity: 0.5;
    cursor: pointer;
    font-size: 30px;
}
.menu a{
    display: block;
    color: black;
    padding: 15px;
    font-weight: bolder;
}
.menu{
    display: none;
}

#about>.tab_btn>label{
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #999;
}
/* +는 바로 다음에 있는거 ~은 형제중에 찾기  */
#about>input[id="tab1"]:checked ~ .tab_btn>label[for="tab1"]{
    background-color: coral;
}
#about>input[id="tab2"]:checked ~ .tab_btn>label[for="tab2"]{
    background-color: coral;
}
#about>input[id="tab3"]:checked ~ .tab_btn>label[for="tab3"]{
    background-color: coral;
}
#about>input[name="tab"]{
    display: none;
}
.tab_btn{
    text-align: center;
}

/* ------------------------------------------- */
.banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.2)), 
    url('../img/bg_img (2).jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.banner>h1{
    color: teal;
    letter-spacing: 0.2em;
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 15px;
}
.banner>p{
    color: white;
}

.sub_title{
    color: salmon;
    font-size: 50px;
    margin: 50px auto;
    text-align: center;
    padding-top: 2em;
}



.contact>.text{
    text-align: center;
}



/* -----icon--rotate---- */
.contact_icon>ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 40px;
}
.contact_icon .icon{
    background-color: #ffe17e;
    font-size: 40px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    margin-right: 20px;
    margin-bottom: 1em;
}

/* 복붙  */
   .contact_icon ul{
        list-style: none;
        margin-top: 50px;
    }
   .contact_icon ul>li{
        display: inline-block;

    }
   .contact_icon ul>li>a{
        /* background-color: cadetblue; */
        display: inline-block;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
        font-size: 40px;
        overflow: hidden;
        position: relative;
    }
   .contact_icon ul>li>a:before{
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        /* background-color: crimson; */
        position: absolute;
        top: 0;
        left: 0;
        /* opacity: 0.3; */
        transition: 0.5s;
    }
   .contact_icon ul>li>a:hover:before{
        width: 100%;
    }
   .contact_icon ul>li>a:hover{
        color: white;
    }
   .contact_icon ul>li>a:hover .fab{
        transform: rotateY(360deg);
    }
   .contact_icon ul>li>a:hover .far{
        transform: rotateY(360deg);
    }

   .contact_icon ul>li>a .fab, .far {
        position: relative;
        transition: 0.5s;
    }



/* ------icon--rotate-----end----------- */






/* --------------work----------------------------- */
.work>ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin: 3em 0;
 }
 .work>ul>li{
     width: 90%;
     margin: 0 2em;
 }

.work .w_icon{
    align-items:center;
    background-color: salmon;
    font-size: 40px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0.5em auto;
    text-align: center;
    line-height: 2em;
    color: white;
    justify-content:center;
}
.work .text>p:nth-child(1){
    margin-top: 20px;
    margin-bottom: 10px;
}
/* --------------work---end-------------------------- */

footer{
    background-color: slategray;
    text-align: center;
    padding: 2em 0;
    margin-top: 1vh;
    color: white;
    letter-spacing: 0.1em;
}
.portfolio{
    background-color: #ccc;
    margin-top: 5em;
    

}
.container{
    width: 90%;
    margin: 0 auto; 
    text-align: center;

    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 6em;
    
}
.container>.photo{
    width: 89%;
    /* margin: 2em; */
}


.item_img{
    width: 99%;
    margin-bottom: 2em;
   display: block;
   align-items: center;
}



/* -------------menu x----------- */

.gnb{
    list-style: none;
    /* margin-top: 2em; */
}
.gnb>li{
    margin: 30px;
}
.gnb>li>a{
    position: relative;
}
.gnb>li>a::before{
    content: "";
    display: inline-block;
    background-color: deepskyblue;
    height: 100%;
    width: 0;
    position: absolute;
    bottom: 0.5px;
    left: -50%;
    transition: 0.2s;
    opacity: 0.2;
    border-radius: 40px;
}
.gnb>li>a:hover::before{
    width: 120%;
}
/* -------------menu x----end------- */







/* 태블릿사이즈 */
@media all and (min-width:768px)
{
    .header{
        display: flex;
        justify-content:space-between;
    }
    .logo>button{
        display:none;
    }
    .logo>a{
        margin-top: 1em;
    }

    .menu>ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .menu{
        display: block;
    }
    .banner h1{
        font-size: 100px; 
        /*이사이즈까지만 커지게 하겠따 */
    }
}
/* PC사이즈 */
@media all and (min-width:1024px)
{
    .header{
        width: 1024px;
        margin: 0 auto;
    }
    .menu>.gnb a{
        display: block;
        color: black;
        padding: 15px;
        font-weight: bolder;
    }
    .menu{
        /* display: block; */
    }


    /* -----menu_in=mopact----- */
    .gnb{
        list-style: none;
        /* margin-top: 2em; */
    }
    .gnb>li{
        margin: 30px;
    }
    .gnb>li>a{
        position: relative;
    }
    .gnb>li>a::before{
        content: "";
        display: inline-block;
        background-color: deepskyblue;
        height: 100%;
        width: 0;
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.2s;
        opacity: 0.2;
        border-radius: 40px;
    }
    .gnb>li>a:hover::before{
        width: 120%;
    }

    .logo>a{
        margin-top: 1em;
    }




    /* ----------work----------- */

    .work>ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        text-align: center;
        margin: 10em 0;
     }
     .portfolio{
        background-color: #ccc;
        
    
    }
    .container{
        width: 88%;
        margin: 0 auto; 
        text-align: center;
    
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 6em;
        
    }
    .container>.photo{
        width: 28%;
        margin: 2em;
    }
    
    
    .item_img{
        width: 100%;
        margin: 2em;
       display: block;
    }




    /* --------icon--------- */
    .contact>.text{
        text-align: center;
    }
    
    .contact_icon>ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        margin-top: 40px;
    }
    .contact_icon .icon{
        background-color: #ffe17e;
        font-size: 40px;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        margin-right: 20px;
    }
    /* --footer---- */
    footer{
        background-color: slategray;
        text-align: center;
        padding: 5vh 0;
        margin-top: 10vh;
        color: white;
        letter-spacing: 0.1em;
    }
    
}


